<button (click)="downloadPdf()"></button>
<div id="download-pdf">
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
</div>
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
