<button (click)="downloadPdf()"></button>
<div id="download-pdf">
  <div *ngFor="let i of totalIterator">
    <div>Heading {{i}}</div>
  </div>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
<h1>Heading 1</h1>
</div>
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
